.accordion__content {
	.js & {
		@include transition(height ease 0.7s);
	}
}

/*
// Styles for turning an accordion to tabs. Customise breakpoint as required
$accordion-to-tabs-bp: 680px;

.accordion--to_tabs {
	@include media-query($accordion-to-tabs-bp) {
		> ul > li {
			display: inline;
		}
		
		.accordion__content {
			float: left;
			width: 100%;
		}
		
		.accordion__toggler--is_open + .accordion__content {
			height: auto !important;
		}
	}
}

.accordion__toggler {
	.accordion--to_tabs & {
		@include media-query($accordion-to-tabs-bp) {
			display: inline-block;
		}
	}
}
*/