/* --------------------------------------------
	Clearfix
----------------------------------------------- */

.clearfix {
	@extend %clearfix;
}

/* --------------------------------------------
	Reset Lists
----------------------------------------------- */

.reset, .reset--all ul, .reset--all ol, .reset--all li, .reset--immediate > ul, .reset--immediate > ol, .reset--immediate > li, .radio_checkbox_group ul {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.reset--all li, .reset--immediate > li {
	position: static;
}

.content_area >, th >, td > {
	& :last-child, & ul:last-child > li:last-child, & ol:last-child > li:last-child {
		margin-bottom: 0;
	}
}

/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */

input[type="hidden"], .no_col-1 #col_1, .no_col-3 #col_3, .grid > li.grid__item:before, .list_style-none > li:before, .radio_checkbox_group li:before, .reset:before, .reset--all li:before, .reset--immediate > li:before {
	@extend %display-none;
}

/* --------------------------------------------
	Standard Margin
----------------------------------------------- */

blockquote, .centre_object, cite, .confirmation_panel, .content_area, dl, .flash, fieldset, .fieldset, hr, iframe, ol, p, .panes, table, ul {
	@include rem(margin-bottom, $std-margin);
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

a[name], a[name]:hover {
	color: inherit !important;
	text-decoration: none !important;
}

acronym, abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

a span {
	cursor: pointer;
}

address {
	font-style: normal;
}

b, strong {
	font-weight: bold;
}

blockquote, q {
	font-family: $quote-font-family;
	quotes: none;
	
	&:before, &:after {
		content: '';
		content: none;
	}
}

blockquote {
	background: $blockquote-bg-color;
	border-left: 3px solid $std-color;
	@include rem(padding, $std-margin);
	
	& > :last-child {
		margin-bottom: 0;
	}
}

cite {
	display: block;
	font-style: italic;
	@include rem(margin-top, -$std-margin);
	text-align: right;
}


.content_area {
	@extend %clearfix;
}

hr {
	background: $hr-color;
	border: 0;
	color: $hr-color;
	height: 1px;
	@include rem(margin, $std-margin * 2 0);
	
	.ltie8 & {
		@include rem(margin-bottom, ($std-margin * 2) - 7);
		@include rem(margin-top, ($std-margin * 2) - ($std-margin - 10 + 17));
	}
}

i, em {
	font-style: italic;
}

iframe:not([width]) {
	width: 100%;
}

a img, img[usemap] {
	border: 0;
}

img {
	-moz-force-broken-image-icon: 1;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
	
	@if ($is-responsive == true) {
		height: auto;
		max-width: 100%;
	}
	
	
	&.float-left, &.float-right {
		display: block;
		float: none;
		@include rem(margin, 0 auto $std-margin / 2);
	}
}

.image-bordered {
	border: 1px solid $std-color;
}

.image-not_responsive {
	max-width: none;
}

@media ($min em($float-bp)) {
	@import "core/bp-img-float";
}

.js {
	.js_display-block {
		display: block;
	}
	
	.js_display-inline {
		display: inline;
	}
	
	.js_display-inline_block {
		display: inline-block;
	}
	
	.js_display-none {
		@extend %display-none;
	}
}

.jquery {
	.jquery_display-block {
		display: block;
	}
	
	.jquery_display-inline {
		display: inline;
	}
	
	.jquery_display-inline_block {
		display: inline-block;
	}
	
	.jquery_display-none {
		@extend %display-none;
	}
}

.menu {
	li {
		& > a {
			display: inline-block; // Fixes IE7's whitespace bug
		}
		
		& > a {
			display: block;
			text-decoration: none;
		}
	}
}

.menu--text_hover {
	li > a {
		@include hover {
			text-decoration: underline;
		}
	}
}

object:focus {
	outline: none;
}

.pane {
	.js & {
		@extend %display-none;
	}
	
	.js &:first-child {
		display: block;
	}
}

pre {
	white-space: pre-wrap;
}

.slider > li {
	@extend %display-none;

	&:first-child {
		display: block;
	}
}

.std_width {
	box-sizing: border-box;
	margin: auto;
	@include rem(max-width, $site-width);
}

sub, sup {
	position: relative;
	vertical-align: baseline;
}

.ua-windows_phone-7 {
	@extend .no-fontface !optional;
}

.video_embed {
	max-width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	
	& iframe {
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

/* --------------------------------------------
	Root Defaults
----------------------------------------------- */

html {
	background: #fff;
	min-height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: scrollbar;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
	@if ($is-responsive == true) {
		@include media-query(1px, false) {
			overflow-x: hidden;
		}
	}
	
	@include media-query(776px, false, $max) {
		-ms-overflow-style: auto;
	}
}

body {
	color: $text-color;
	font-family: $std-font-family;
	@include font-size-line-height($std-font-size, $std-line-height);
	min-height: 100%;
	
	.vendor-ie:not(.ltie9) & {
		@include line-height($std-line-height + 1, $std-font-size);
	}
	
	* {
		font-size: 1em;
	}
}

/* --------------------------------------------
	Link Colors
----------------------------------------------- */

a {
	color: $std-link-color;
	
	@include hover {
		color: $std-hover-color;
	}
}

:visited {
	color: $std-visited-color;
}

/* --------------------------------------------
	Lists
----------------------------------------------- */

ol, ul {
	list-style: none;
	@include rem(margin-left, $list-margin-left);
}

ol {
	list-style-type: decimal;
}

.list_style-none {
	list-style: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.list_style-lower_alpha {
	list-style-type: lower-alpha;
}

.list_style-upper_alpha {
	list-style-type: upper-alpha;
}

.list_style-lower_roman {
	list-style-type: lower-roman;
}

.list_style-upper_roman {
	list-style-type: upper-roman;
}

.ltie8 ul {
	list-style-type: disc;
}

li {
	@include rem(margin-bottom, $std-margin / $list-item-margin-denominator);
	position: relative;
	
	.ltie8 & {
		position: static;
	}
	
	& > ol, & > ul {
		@include rem(margin-top, $std-margin);
	}
	
	ul > &:before {
		content: '';
		display: inline-block;
		position: absolute;
	}
}

.list_next_to_float, .float-left + ul, .float-right + ul, .float-left + ol, .float-right + ol {
	overflow: hidden;
	@include rem(padding-left, $list-margin-left);
	
	@if ($is-responsive) {
		@include media-query($float-bp - 1, $max) {
			clear: both;
			overflow: visible;
			padding-left: 0;
		}
	}
}

dt, dd {
	display: inline;
}

dd:after {
	content: '\A';
	white-space: pre;
}

/* --------------------------------------------
	Tables
----------------------------------------------- */

caption {
	@include rem(margin-bottom, $std-margin);
	text-align: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

td, th {
	vertical-align: top;
}

.table-unstyled {
	box-shadow: none;
	width: auto;
	
	& td, & th {
		background: none !important;
		border: 0 !important;
		color: $text-color !important;
		padding: 0 !important;
		text-align: left;
		vertical-align: top !important;
	}
}

.ie9_grid_dummy {
	td {
		background: none !important;
		padding: 0 !important;
	}
}

/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset {
	border: 0;
}

legend {
	left: -999em;
	position: absolute;
	top: -999em;
}

[data-legend]:before {
	content: attr(data-legend);
	display: block;
}

::-webkit-search-decoration, ::-webkit-search-cancel-button, input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="search"] {
	-webkit-appearance: none;
}

@include placeholder;

.input-text, textarea, select {
	color: $form-input-color;
	margin: 0;
	
	html:not(.ltie9) &:not([disabled]) {
		&:hover {
			background-color: $form-input-hover-color;
			outline: none;
		}
		
		&:focus {
			background-color: $form-input-focus-color;
			box-shadow: 0 0 6px $form-input-boxshadow-color;
			outline: none;
		}
	}
	
	&.form_error {
		border-color: $form-input-error-color !important;
	}
}

:-moz-ui-invalid:not(output) {
	box-shadow: 0 0 3px 0 $form-input-error-color !important;
}

input {
	&[type="radio"], &[type="checkbox"] {
		&.form_error {
			box-shadow: 0 0 1.5px 1.5px lighten($form-input-error-color, 10%);
		}
		
		&.form_error + label {
			color: $form-input-error-color;
		}
	}
}

.has-touch label {
	cursor: pointer;
}

.input-text, label, .label, .radio_checkbox_group_legend, select, textarea {
	box-sizing: border-box;
	display: block;
	font-family: $std-font-family;
	line-height: normal;
	width: 100%;
}

.input-text, label, .label, .radio_checkbox_group_legend, select, textarea {
	vertical-align: top;
}

em {
	.required &, label & , .label &, .radio_checkbox_group_legend & {
		color: $form-input-error-color;
		font-style: normal;
	}
}

.form_comment, .form_mb, .form_row, .required, .radio_checkbox_group {
	@include rem(margin-bottom, $form-margin);
}

.form_row > div {
	@include rem(margin-top, $form-margin);
}

.input-text, textarea, html:not(.browser-android) select {
	background-color: $form-input-background-color;
	border: $form-input-border-width solid $form-input-border-color;
}

.input-text, textarea {
	border-radius: $form-input-border-radius;
}

.input-text:not(.date_time) {
	-webkit-appearance: none;
}

.input-text.date_time {
	display: -webkit-inline-flex;
}

.input-text, textarea, select {
	@include rem(font-size, $form-input-font-size);
	
	.ua-ios & {
		@if ($form-input-font-size < $base-font-size) {
			@include rem(font-size, $base-font-size);
		}
		@else {
			@include rem(font-size, $form-input-font-size);
		}
	}
}

select {
	-webkit-appearance: menulist;
	
	&.auto {
		width: auto !important;
	}
}

textarea {
	@include rem(min-height, $text-area-minheight);
	overflow: auto;
}

.radio_checkbox_group {
	li {
		@include rem(margin-bottom, $form-margin / 2);
	}
	
	input {
		position: absolute;
	}
	
	label {
		font-weight: normal;
		padding-left: $form-rc-label-indent;
		width: auto;
	}
}

.form_row, .btns {
	.width-auto {
		width: auto;
	}
	
	.width-smaller {
		width: $form-smaller-input-width;
	}

	.width-small {
		width: $form-small-input-width;
	}

	.width-medium {
		width: $form-medium-input-width;
	}

	.width-large {
		width: $form-large-input-width;
	}

	.width-larger {
		width: $form-larger-input-width;
	}
	
	.width-max {
		width: 100%;
	}
}

@media ($min em($form-bp)) {
	@import "core/bp-form-fields";
}

/* --------------------------------------------
	Confirmation Error/OK Modules
-----------------------------------------------*/

.confirmation_panel {
	border: 1px solid $error-border-color;
	border-radius: 8px;
	@include rem(padding, 15px);
	
	& ul {
		margin: 14px 0 0 23px;
		@include rem(margin-top, 14px, false);
	}
	
	& li:last-child {
		margin-bottom: 0;
	}
}

.confirmation_heading {
	@include rem(font-size, 16px);
	margin-bottom: 0;
	position: relative;
	
	.ltie8 & {
		color: #b00;
		padding-left: 0;
	}
}

.confirmation_heading--ok {
	.ltie8 & {
		color: #060;
	}
}

/* --------------------------------------------
	Site
----------------------------------------------- */

.no_col-1.no_col-3 #col_2 {
	width: 100%;
}

#breadcrumbs li {
	display: inline-block;
}