/* --------------------------------------------
	Carousels
----------------------------------------------- */

.slider {
	transition-timing-function: $ease-in-out-quint;
	
	.window_is_resizing & {
		transition-duration: 0s !important;
	}
	
	> li {
		.js & {
			visibility: hidden;
		}
	}
	
	.hide {
		-webkit-transform: translate3d(0,0,0); // Fixes invisible carousels on iOS <=6?
	}
	
	img.rwdimage.has-lazy-loaded {
		width: 100%;
	}
}

.carousel {
	position: relative;
}

.carousel__tile {
	height: 100%;
	position: relative;
}

.carousel__nav {
}

.carousel__nav_item {
	@include rgba-background((#000, #666), .57);
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 30px;
	z-index: 30;
	
	&:hover {
		@include rgba-background(#000, .77);
	}
	
	&:after {
		@include triangle(left, 8px, 16px, #fff);
		left: 50%;
		margin: -8px 0 0 -4px;
		position: absolute;
		top: 50%;
	}
	
	span {
		@include hide-text(block, 0)
	}
}

.carousel__nav_item--next {
	left: auto;
	right: 0;
	
	&:after {
		@include triangle(right, 8px, 16px, #fff, false, true, false);
	}
}

.carousel__pager {
	bottom: 13px;
	left: 0;
	opacity: 0.7;
	position: absolute;
	right: 0;
	text-align: center;
}

.carousel__counter {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.carousel__pager_item {
	display: inline-block;
	@include rem(margin, 0 5px);
	 
	a {
		background: #ddd;
		border: 1px solid #aaa;
		border-radius: 50%;
		@include hide-text(false, 14px, 14px);
	}
}

.carousel__pager_item--is_current {
	a {
		background: #fff;
	}
}

.carousel__pager--thumbnails {
}